/* Place custom css here. */
@font-face {
    font-style: normal;
    font-family: "Songti";
    font-display: swap;
    src: url("themes/paper/static/Songti/SourceHanSerifCN-Regular-1.woff2") format("woff2"),
         url("themes/paper/static/Songti/SourceHanSerifCN-Regular-1.woff") format("woff"),
         url("themes/paper/static/Songti/SourceHanSerifCN-Regular-1.eot") format("embedded-opentype"),
         url("themes/paper/static/Songti/SourceHanSerifCN-Regular-1.ttf") format("truetype");
  };

main {
    font-family: "Songti";
}

/* for code */
code,
kbd,
pre,
samp {
    font-family: "Songti";
}