/* Place custom css here. */
:root {
    --waline-theme-color: #3c3c3c !important;
    --waline-active-color: #000000 !important;
}
.wl-user {
    display: none;
}
.wl-power {
    display: none;    
}

[data-waline] {
    display: flex;
    flex-direction: column;
}
.wl-comment {
    order: 3;
}

.wl-meta-head {
    order: 1;
}
.wl-empty {
    order: 1;
}

.wl-cards {
    order: 2;
}